/*****************************************
 * GENERAL
 *****************************************/
body {
  margin: 0;
  padding: 0;
}

ol, ul {
  padding-left: 30px;
  text-align: left;
}

.app-header {
  padding: 20px 0;
  color: white;
}

.app-body {
  padding: 20px;
}

.uk-icon::before {
  background-image: url("/icons.svg");
}

.header-link {
  color: #333;
}

.header-link:hover {
  color: #333;
  text-decoration: none;
}

.icon-link {
  color: #666;
}

.icon-link:hover {
  color: #666;
  text-decoration: none;
}

/*
I think we should go for a black and white theme,
so these are my attempts at replacing the default UI Kit
blue with black
*/
.uk-tab>.uk-active>a {
  border-color: #000000;
}

.uk-input:focus {
  border-color: #000000;
}

.uk-textarea:focus {
  border-color: #000000;
}

.uk-select:focus {
  border-color: #000000;
}

.uk-radio:checked, .uk-radio:focus, .uk-radio:active {
  background-color: #000000;
}

.uk-form-danger:focus {
  color: #f0506e;
  border-color: #f0506e;
}

.button-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}

.button-success:active,
.button-success:focus,
.button-success:hover {
  background-color: #449d44;
  border-color: #398439;
  color: #fff;
}

.label-invalid {
  color: #f0506e;
  text-align: center;
}

.radio-invalid {
  border: 1px solid #f0506e;
}


/*****************************************
 * COMPONENTS
 *****************************************/
/* NavBar */
#navbar {
  background-color: #f8f8f8;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  z-index: 980;
}

#navbar img {
  padding: 0;
}

#navbar img.uk-navbar-item {
  padding: 0;
}

.uk-navbar-nav>li>a {
  color: #666;
}

.uk-navbar-nav>li>a:hover {
  background-color: #f1f1f1;
}

#navbar .uk-navbar-dropdown-nav > li > a {
  margin-left: 0px;
}

#navbar .navbar-listings,
#navbar .navbar-reviews {
  width: 300px;
}

/* Advertisement Categories */
.ad-category {
  margin-right: 0.5em;
}

.ad-category:active,
.ad-category:focus,
.ad-category:hover {
  color: white;
  text-decoration: none;
}

.ad-images {
  border-bottom: 1px solid #e5e5e5;
}

/* Slideshow */
* {
  box-sizing:border-box
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
    display: none;
}

.slide img {
  width: 100%;
}

/* Slideshow fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*****************************************
 * PAGES
 *****************************************/
/* Landing Page */
#landing {
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.landing-form {
  box-shadow: none;
  border: 1px solid #000000;
}

.landing-header {
  text-align: center;
}

.landing-submit-btn {
  margin-bottom: 0;
}

.landing-link {
  color: #333;
}

.landing-link:hover {
  color: #333;
}

.label-invalid {
  color: #f0506e;
  text-align: center;
}

/* Home Page */

/* User Advertisements Page */

/* Add Advertisement Page */

/* Advertisement Details Page */
#ad-details .ad-item {
  float: right;
}

#ad-details .ad-item span {
  background-color: #1e87f0;
  font-size: 1.2em;
}

#ad-details .ad-owner-contact .uk-icon-button {
  color: white;
  display: inherit;
}

#ad-details .ad-owner-email {
  background-color: #f4c20d;
}

#ad-details .ad-owner-phone {
  background-color: #4dc247;
}

#ad-details .ad-owner-facebook {
  background-color: #3b5998;
}

#ad-details .ad-owner-twitter {
  background-color: #55acee;
}

/* Reviews Page */
#reviews .review .uk-comment {
  padding: 20px;
}

#reviews .review-rating .uk-icon-button {
  background-color: orange;
  color: white;
  margin-right: 2px;
}
