body {
  margin: 0;
  padding: 0;
}

ol, ul {
  padding-left: 30px;
  text-align: left;
}

.app-header {
  padding: 20px 0;
  color: white;
}

.app-body {
  padding: 20px;
}


/* NavBar */

#navbar {
  z-index: 980;
}

#navbar img {
  padding: 0;
}

#navbar img.uk-navbar-item {
  padding: 0;
}

.ad-category-list {
  margin-top: 0.5em;
}

.ad-category {
  margin-right: 0.5em;
}

/* Login / Registration Form */

.landing-form {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.form-login {
  box-shadow: none;
  border: 1px solid #e5e5e5;
}

.login-btn, .register-btn {
  margin-bottom: 0;
}
