/*****************************************
 * GENERAL
 *****************************************/
body {
  margin: 0;
  padding: 0;
}

ol, ul {
  padding-left: 30px;
  text-align: left;
}

.app-header {
  padding: 20px 0;
  color: white;
}

.app-body {
  padding: 20px;
}

.uk-icon::before {
  background-image: url("/icons.svg");
}

.header-link {
  color: #333;
}

.header-link:hover {
  color: #333;
  text-decoration: none;
}

.icon-link {
  color: #666;
}

.icon-link:hover {
  color: #666;
  text-decoration: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*
I think we should go for a black and white theme,
so these are my attempts at replacing the default UI Kit
blue with black
*/
.uk-tab>.uk-active>a {
  border-color: #000000;
}

.uk-input:focus {
  border-color: #000000;
}

.uk-textarea:focus {
  border-color: #000000;
}

.uk-select:focus {
  border-color: #000000;
}

.uk-radio:checked, .uk-radio:focus, .uk-radio:active {
  background-color: #000000;
}

.uk-form-danger:focus {
  color: #f0506e;
  border-color: #f0506e;
}

.button-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}

.button-success:active,
.button-success:focus,
.button-success:hover {
  background-color: #449d44;
  border-color: #398439;
  color: #fff;
}

.label-invalid {
  color: #f0506e;
  text-align: center;
}

.label-valid {
  color: #449d44;
  text-align: center;
}

.radio-invalid {
  border: 1px solid #f0506e;
}


/*****************************************
 * COMPONENTS
 *****************************************/
/* NavBar */
#navbar {
  background-color: #f8f8f8;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  z-index: 980;
}

#navbar img {
  padding: 0;
}

#navbar img.uk-navbar-item {
  padding: 0;
}

.uk-navbar-nav>li>a {
  color: #666;
}

.uk-navbar-nav>li>a:hover {
  background-color: #f1f1f1;
}

#navbar .uk-navbar-dropdown-nav > li > a {
  margin-left: 0px;
}

#navbar .navbar-listings,
#navbar .navbar-reviews {
  width: 300px;
}

/* Advertisement */
.ad-category {
  margin-right: 0.5em;
}

.ad-category:active,
.ad-category:focus,
.ad-category:hover {
  color: white;
  text-decoration: none;
}

.ad-images {
  border-bottom: 1px solid #e5e5e5;
}

.edit-link {
  color: #999;
}

.edit-link:active,
.edit-link:focus,
.edit-link:hover {
  color: #666;
}

/* Slideshow */
* {
  box-sizing:border-box
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
    display: none;
}

.slide img {
  width: 100%;
}

/* Slideshow fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*****************************************
 * PAGES
 *****************************************/
/* Landing Page */
#landing {
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.landing-form {
  box-shadow: none;
  border: 1px solid #000000;
}

.landing-header {
  text-align: center;
}

.landing-submit-btn {
  margin-bottom: 0;
}

.landing-link {
  color: #333;
}

.landing-link:hover {
  color: #333;
}

.label-invalid {
  color: #f0506e;
  text-align: center;
}

/* Home Page */

/* User Advertisements Page */

/* Add Advertisement Page */

/* Advertisement Details Page */
.ad-item span {
  border-radius: 2px;
  color: #E77600;
  display: inline-block;
  line-height: 1.5;
  text-transform: uppercase;
  vertical-align: middle;
}

#ad-details .ad-owner-contact .uk-icon-button {
  color: white;
  display: inherit;
}

#ad-details .ad-owner-email {
  background-color: #f4c20d;
}

#ad-details .ad-owner-phone {
  background-color: #4dc247;
}

#ad-details .ad-owner-facebook {
  background-color: #3b5998;
}

#ad-details .ad-owner-twitter {
  background-color: #55acee;
}

/* Reviews Page */
#reviews .review .uk-comment {
  padding: 20px;
}

.rating-invalid {
  color: #f0506e;
  border: 1px solid #f0506e;
}

.star,
.full {
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  color: #666;
  margin-right: 2px;
}

#reviews .review-rating .star,
.review-rating .full,
.review-rating a .star:active,
.review-rating a .star:focus,
.review-rating a .star:hover {
  background-color: orange;
  color: white!important;
}


/* Administration Page */
.user-result-table {
  padding: 0;
  margin: 0;
}

.user-result-table td.user-result-title {
  font-weight: bold;
  text-align: right;
  border-right: 1px solid #e5e5e5;
}

.user-result-table td.user-result-content {
  text-align: left;
}

.user-result-success {
  background-color: green;
  color: white;
}

.user-result-failed {
  background-color: #DD2244;
  color: white;
}

.user-result-icon-delete,
.user-result-icon-profile {
  color: #666;
}

.user-result-icon-delete:hover {
  color: red;
}

.user-result-icon-profile:hover {
  color: blue;
}

.admin-edit-field:focus {
  border: 1px solid black;
}

.color-picker {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 2;
}

.cross-icon,
.check-icon {
  color: #666;
}

.cross-icon:hover,
.cross-icon:focus {
  color: red;
}

.check-icon:hover,
.check-icon:focus {
  color: #42EC00;
}

.color-picker-btn-container {
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 2px, rgba(0, 0, 0, 0.298039) 0px 4px 8px;
}

td, th {
  border: 1px solid #e5e5e5;
}

.edit-categories-corner {
  border: none
}


/* Profile Page */

.info-list {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.user-profile-table {
  padding: 0;
  margin: 0;
}

.user-profile-table td.user-profile-title {
  text-align: right;
}

.user-profile-table td.user-profile-content {
  text-align: center;
}

.user-profile-borderless-row,
.user-profile-borderless-row td {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.hidden-info {
  font-style: italic;
}

.form-label {
  font-weight: bold;
}
