/*****************************************
 * GENERAL
 *****************************************/
body {
  margin: 0;
  padding: 0;
}

ol, ul {
  padding-left: 30px;
  text-align: left;
}

.app-header {
  padding: 20px 0;
  color: white;
}

.app-body {
  padding: 20px;
}

.uk-icon::before {
  background-image: url("/icons.svg");
}

/*
I think we should go for a black and white theme,
so these are my attempts at replacing the default UI Kit
blue with black
*/
.uk-tab>.uk-active>a {
  border-color: #000000;
}

.uk-input:focus {
  border-color: #000000;
}

.uk-form-danger:focus {
  color: #f0506e;
  border-color: #f0506e;
}



/*****************************************
 * COMPONENTS
 *****************************************/
/* NavBar */
#navbar {
  z-index: 980;
}

#navbar img {
  padding: 0;
}

#navbar img.uk-navbar-item {
  padding: 0;
}

/* Advertisement Categories */
.ad-category-list {
  margin-top: 0.5em;
}

.ad-category {
  margin-right: 0.5em;
}



/*****************************************
 * PAGES
 *****************************************/
/* Landing Page */
#landing {
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.landing-form {
  box-shadow: none;
  border: 1px solid #000000;
}

.landing-header {
  text-align: center;
}

.landing-submit-btn {
  margin-bottom: 0;
}

.label-invalid {
  color: #f0506e;
  text-align: center;
}

/* Home Page */


/* Advertisement Details Page */
#ad-details .ad-item {
  float: right;
}

#ad-details .ad-item span {
  background-color: #1e87f0;
  font-size: 1.2em;
}

#ad-details .ad-owner-contact .uk-icon-button {
  color: white;
  display: inherit;
}

#ad-details .ad-owner-email {
  background-color: #f4c20d;
}

#ad-details .ad-owner-phone {
  background-color: #4dc247;
}

#ad-details .ad-owner-facebook {
  background-color: #3b5998;
}

#ad-details .ad-owner-twitter {
  background-color: #55acee;
}

/* Reviews Page */
#reviews .review .uk-comment {
  padding: 20px;
}

#reviews .review-rating .uk-icon-button {
  background-color: orange;
  color: white;
  margin-right: 2px;
}
